name: First GitHub Action

on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Show OS details
        run: uname -a

      - name: Show date
        run: date

      - name: List files
        run: ls -la
